<div>
    <div class="col-lg-3 col-md-4 col-xs-6">{{image.name}}</div>
    <div  style="clear: both">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" data-ng-href="/#/photo/{{image._id}}">
                <img class="img-responsive"  data-ng-src="/uploads/{{image.image}}" alt="">
                {{image.updated_at | date : 'yyyy-MM-dd'}}
            </a>
        </div>
        <div>
            <label>Name file:</label>
            <div>
                <input data-ng-model="image.name"/>
            </div>
        </div>
        <div>
            <label>Description:</label>
            <div>
                <textarea style="max-height: 100px"  data-ng-model="image.note"></textarea >
            </div>
        </div>
    </div>

    <div style="margin-bottom: 20px;" class="col-lg-12 col-md-12 col-xs-12 ">
        <a class="btn-success btn" href="#/" data-ng-click="update(image._id)"> Update Image</a>
        <a class="btn-warning btn" href="#/" data-ng-click="delete(image._id)"> Delete Image</a>
    </div>
</div>